<header class="bg-blue-500 text-white">
  <div class="container mx-auto flex items-center justify-between py-4">
    <!-- Brand Name -->
    <h1 class="text-2xl font-bold">Cricket</h1>

    <!-- Navigation Menu -->
    <nav class="space-x-4">
      <a [routerLink]="'/home'" href="#" class="hover:text-gray-300">Home</a>
      <a [routerLink]="'/live'" href="#" class="hover:text-gray-300">Live</a>
      <a [routerLink]="'/history'" href="#" class="hover:text-gray-300">History</a>
      <a [routerLink]="'/point-table'" href="#" class="hover:text-gray-300">Point Table</a>
    </nav>
  </div>
</header>
<div class="px-28 py-8">
  <router-outlet></router-outlet>
</div>
